{% extends logged %}
{% block head %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cloud Alert - Curs Valutar</title>
		<!-- Import of css Librarys -->
		<link rel="icon" type="image/png" href="../img/logo%20flavic.png" />
		<link rel="stylesheet" type="text/css" href="../css/querry.css">
		<link rel="stylesheet" type="text/css" href="../material/icon_font.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/homepege.css">
		<link rel="stylesheet" type="text/css" href="../css/imports_general.css">
		<link rel="stylesheet" type="text/css" href="../css/aboutUs.css">
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
{% endblock %}
{% block body %}
		<section id="header">
			<div class="row top_content">
				<div class="col-sm-12 wellcome">
					<h2>Opsss...</h2>
					<p class="minidescript minidescript_err">Sorry, we are not able to find what you<br> were looking for.</p>
				</div>
			</div>
		</section>
		<section id="main_data" class="error_data">
			<div class="row images">
				<div class="col-sm-6 x1"><img class="maimuta" src="../img/momuta.png"></div>
				<div class="col-sm-6 x2"><img class="text_inf" src="../img/text.png"></div>
			</div>
		</section>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap and Personal JavaScript -->
		<script type="text/JavaScript" src="../js/pageFunctionality.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}